In [46]:
#Ans 1

list_name = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

list_name.sort(key =  lambda x : x[1])

print(list_name)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
# Ans 2

l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(map(lambda x : x**2 , l)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# Ans 3 
    
lis_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#type casting list in to tuple :) 

tup_1 = tuple (map(lambda x : str(x) , lis_1))

print (tup_1)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [31]:
# Ans 4 
from functools import reduce
print(reduce(lambda x,y : x*y, range(1,26)))

15511210043330985984000000

In [35]:
# Ans 5 

list_ex = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

print(list(filter(lambda x : x%2==0 or x%3==0, list_ex)))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [40]:
# Ans 6 

lis_str =['python', 'php', 'aba', 'radar', 'level']

print(list(filter(lambda x : x == x[::-1] , lis_str)))

['php', 'aba', 'radar', 'level']