In [ ]:
#Ans 1

In [19]:
percent = int (input("enter your percentage"))
if percent > 100 : 
        print("enter correct values")
elif percent > 90 and  percent <= 100 :
        print ("Grade A ")
elif percent > 80 and percent <= 90 :
        print ("Grade B ")
elif percent >= 60 and percent <= 80 :
        print ("Grade C ")
elif percent < 60 and percent >= 0 :
        print ("Grade D ")
else :
        print("enter correct values")

enter your percentage 92

Grade A

In [ ]:
#Ans 2

In [29]:
Cost_bike = int (input("enter the cost of bike"))
if Cost_bike > 100000 : 
        print(f"tax to be paid @ 15% : {Cost_bike*0.15}")
elif Cost_bike > 50000 and  Cost_bike <= 100000 :
        print(f"tax to be paid @ 10% : {Cost_bike*0.10}")
elif Cost_bike <= 50000 :
        print(f"tax to be paid @ 5% : {Cost_bike*0.05}")
else :
        print("Enter correct price of the bike")

enter the cost of bike 950000

tax to be paid @ 15% : 142500.0

In [ ]:
#Ans 3

In [34]:
city_name = str(input("Enter the name of the city")).strip(" ").capitalize()
if city_name == 'Delhi' :
    print("Monument = RED FORT")
elif city_name == 'Agra' :
    print("Monument = TAJ MAHAL")
elif city_name == 'Jaipur' :
     print("Monument = JAL MAHAL")
else :
    print("Entered city name not in list")

Enter the name of the city pune

Entered city name not in list

In [ ]:
#ans 4

In [13]:
count =0
i=0
while i <= 10 :
    i +=1
    if i%3 == 0 :
        count +=1
    
print(f" no of times divided by 3 is : {count}")

 no of times divided by 3 is : 3

In [ ]:
#Ans 5

# while loop is used for continious iterations untill the desired condition is met.

num = 15  
  
# initializing summation and a counter for iteration  
summation = 0  
c = 1  
  
while c <= num: # specifying the condition of the loop  
    # begining the code block  
    summation = c**2 + summation  
    c = c + 1    # incrementing the counter  
  
# print the final sum  
print("The sum of squares is", summation)

In [ ]:
#Ans 6

In [15]:
#first pattern
print("First pattern")
n = 5
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1
    
print("Second pattern")
i=1 
while i<10: 
    if i==1: 
        print (' '*(10-i) + '*' )
    else: 
        print (' '*(10-i) + '*'*i + '*'*(i-1) )
    i+=1

First pattern
*
* *
* * *
* * * *
* * * * *
Second pattern
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
#Ans 7 & 8

In [17]:
i = 0
size = int(input ("enter number to print reverse"))
while i <= size :
    print(size-i ,end = "  ")
    i +=1

enter number to print reverse 10

10  9  8  7  6  5  4  3  2  1  0