In [ ]:
# Ans 1
"""
Tupples are immutable
Tuple items are ordered, unchangeable, and allow duplicate values. 
Tuple items are indexed, the first item has index [0] ,so on and so forth
"""

In [25]:
# Ans 2
"""
Tuple allows us to store values in a sequence and where we might want to share the data with someone but not allow them to manipulate the data
"""
Tupple_1 = (1, 56, "asd", "zxc","asd")

a = Tupple_1.count("asd")

print(f"Tupple.count() gives the number of occurances of a specified object : - ",{a})

Tupple_1.index(1)
print(f" Tupple_1.index() Return first index of value. : - ", {Tupple_1.index("asd")})

Tupple.count() gives the number of occurances of a specified object : -  {2}
 Tupple_1.index() Return first index of value. : -  {2}

In [27]:
#Ans 3 

a = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

#type casting list ot set
b = set (a)

print (b)

{1, 2, 3, 4}

In [35]:
#Ans 4
#union method in set
"""
This method is used to return the union of a set and the set of elements from one or more iterable like string, list, set. 
This method takes arbitrary number of iterable objects as argument, which means one or more iterable can be passed. 
If iterable other than set is passed, it first converts the iterable object to set object and then perform the union operation.
It returns a newly created set, which contains all the elements ( distinct ) present in all the iterables.
"""

sec_a = {"rahul", "payal", "divya", "ketan"}
sec_b = {"vijay","sushma","suraj","payal"}

CLASS_III = sec_a.union(sec_b)
print(f"The value of the union is stored and is printed as {CLASS_III}")

#update method in set
"""
This method is used to return the union of a set and the set of elements from one or more iterable like string, list, set. 
It is very similar to union() method, with difference is that where union() method create and return a new set, 
containing all the elements ( distinct ) present in all the iterables, 
update() method updates the set on which this method is called with all the distinct elements present in all the iterables.
"""
sec_c = {"rahul", "payal", "divya", "ketan"}
sec_d = {"vijay","sushma","suraj","payal"}
sec_c.update(sec_d)

print(f"The values after the update operations are as below : ")
print(sec_c)
print(sec_d)

The value of the union is stored and is printed as {'sushma', 'vijay', 'rahul', 'ketan', 'payal', 'divya', 'suraj'}
The values after the update operations are as below :
{'sushma', 'vijay', 'rahul', 'ketan', 'payal', 'divya', 'suraj'}
{'payal', 'sushma', 'suraj', 'vijay'}

In [36]:
#Ans 5 

"""
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered , changeable and do not allow duplicates.
"""

cars = {
  "brand": "TATA",
  "model": ("TIAGO","INDIGA","NEXON"),
  "year": [2018,2019,2020,2022]
}
print(cars)

{'brand': 'TATA', 'model': ('TIAGO', 'INDIGA', 'NEXON'), 'year': [2018, 2019, 2020, 2022]}

In [42]:
#Ans 6 
#Nested Dictonary

school = {"Class_III" : ({"sec_A" : ("sunita", "sushma","rahul"), "roll_no" : (1,2,3)} , 
          {"sec_b" :("payal", "ajay","himani"), "roll_no" : (1,2,3)})}
print(school)

{'Class_III': ({'sec_A': ('sunita', 'sushma', 'rahul'), 'roll_no': (1, 2, 3)}, {'sec_b': ('payal', 'ajay', 'himani'), 'roll_no': (1, 2, 3)})}

In [45]:
#Ans 7 

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics", ['Python', 'Machine Learning','Deep Learning'])

print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [49]:
#Ans 8
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

print(dict2.keys())

print(dict2.values())

dict2.items()

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])